@import "../main";
.home-page {
    .side__shape {
        background-image: url("@/assets/img/backgroundAuth.svg");
        background-size: cover;
        background-position: right;
        height: 100vh;
        position: relative;
        width: auto;
        &-container {
            position: absolute;
            top: 45%;
            left: 45%;
            transform: translate(-50%, -50%);
            h4 {
                color: white;
                font-size: 23px;
            }
        }
    }
    .side-login {
        position: relative;
        .center-section {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
        }
    }
}
