@import "base/base";
@import "base/animation";
@import "helper/helpers";
@import "mixins/mixins";
@import "base/variables";
@import "base/typography.scss";

a {
    color: $gray;
    text-decoration: none;
    &:hover {
        color: $gray;
    }
}
.name-section,
.name-sections {
    text-transform: capitalize;
}
